<configuration>
    <!-- Appender для dev-окружения с обычным текстовым форматированием -->
    <springProfile name="dev,default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- Appender для prod-окружения с LogstashEncoder -->
    <springProfile name="prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
