body {
    margin: 0;
    line-height: 0;
    font-family: lack-regular, monospace;
    color: #8459aa;
    line-height: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear;
}

body.visible {
    visibility: visible;
    opacity: 1;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.player {
    margin: 0 0.625%;
    width: 8.6%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -17px 0 15px -17px rgba(0, 0, 0, .8), 17px 0 15px -17px rgba(0, 0, 0, .8), 0 0 30px rgba(0, 0, 0, .1) inset, 0 2px 0 rgba(250, 170, 0, 1);*/
    transition: margin-top 1.5s, box-shadow 1.5s;
    perspective: 30000px;
}

.speaker {
    box-shadow: 0 2px 15px rgba(132,89,170, 0.9), 0 2px 7px rgba(17, 0, 255, 0.527);
}

.player.dead {
    margin-top: 0.5%;
}

.photo {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    box-shadow: 0px -70px 25px -40px rgba(0, 0, 0, 0.8) inset, 0px -100px 50px -40px rgba(0, 0, 0, 0.5) inset;
    transition: all 1s;
}

.dead .photo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.status {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 6px;
    left: 6px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear;
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.check {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 6px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.check.black {
    background-color: rgba(0, 0, 0, 50);
}

.check.red {
    background-color: rgba(255, 0, 0, 50);
}

.check-1 {
    top: 52px;
}

.check-2 {
    top: 88px;
}

.check-3 {
    top: 124px;
}

.check-text {
    position: relative;
    top: -15px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 5px #000000;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
}

.status-text {
    position: relative;
    top: -40px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px #000000;
    /*-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;*/
}

.dead .status {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.killed .status {
    background-image: url("/icon/killed.png");
}

.voted .status {
    background-image: url("/icon/voted.png");
}

.deleted .status {
    background-image: url("/icon/deleted.png");
}

.role {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    visibility: visible;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear;
}

.sher .role {
    visibility: visible;
    opacity: 1;
    background-color: rgba(250, 170, 0, 0.8);
    background-image: url("/icon/loupe.png");
}

.don .role {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("/icon/hat.png");
}

.black .role {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("/icon/gun.png");
}

.number {
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #8459aa;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

.nick {
    font-family: lack-regular;
    position: absolute;
    left: 37px;
    bottom: 10px;
    color: #fff;
    font-size: 18px;
}

@font-face {

    font-family: "lack-regular";
    src: url("/fonts/lack-regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* This container is needed to position the front and back side */
.flip-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.player:hover .flip-container {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


/* Style the back side */
.flip-back {
    color: white;
    transform: rotateY(180deg);
}

.stat-table {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    table-layout: auto;
    width: 100%;
    height: 100%;

    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: black;
    /*    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);*/
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    word-break: break-all;
}


.flip-photo {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    box-shadow: 0px -70px 25px -40px rgba(0, 0, 0, 0.8) inset, 0px -100px 50px -40px rgba(0, 0, 0, 0.5) inset;
    transition: all 1s;
    /*filter: grayscale(50%);*/
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

