body {
    margin: 0;
    font-family: Andale Mono, monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

.table_name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 140px;
    font-size: 100px;
    color: #ffaa00;
}

.game_number {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 280px;
    font-size: 80px;
    color: #ffffff;
}

.table_num {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    font-size: 50px;
    color: #ffaa00;
}

.left {
    left: 210px;
    padding: 0;
    top: 440px;
    position: absolute;
    font-size: 40px;
}

.right {
    right: 210px;
    padding: 0;
    top: 440px;
    position: absolute;
    font-size: 40px;
}

.player {
    height: 85px;
    padding: 10px 0;
    margin: 0;
    vertical-align: middle;
    display: flex;
}

.player div {
    border-radius: 10px;
    line-height: 75px;
}

.white-space {
    width: 20px;
}

.number {
    width: 85px;
    border: 5px solid #ffaa00;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.nick {
    width: 335px;
    border: 5px solid rgb(255, 170, 0);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 30px;
    text-align: left;
}

.result {
    width: 140px;
    background-color: rgb(255, 170, 0);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}