<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Игра</title>
    <link rel="stylesheet" href="/css/style-source.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body class="visible">
<div class="fact-panel">
    <p id="fact-content"></p>
</div>

<div class="game-number-container">
    <div class="game-number-panel">
        <span id="current-game-text">-</span>
    </div>
</div>

<div class="result-panel">
    <p id="result-content"></p>
</div>

<div class="players-container">
    <footer>
        <div class="player" id="player_1">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="clubIcon"></div>
            <div class="score"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">1</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_2">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">2</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_3">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">3</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_4">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">4</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_5">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">5</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_6">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">6</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_7">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">7</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_8">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">8</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_9">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">9</div>
                <div class="player-name"></div>
            </div>
        </div>
        <div class="player" id="player_10">
            <!--            <div class="role-header"></div>-->
            <div class="photo"></div>
            <div class="status"><p class="status-text"></p></div>
            <div class="score"></div>
            <div class="clubIcon"></div>
            <div class="guess guess-1"><p class="guess-text"></p></div>
            <div class="guess guess-2"><p class="guess-text"></p></div>
            <div class="guess guess-3"><p class="guess-text"></p></div>
            <div class="guess guess-4"><p class="guess-text"></p></div>
            <div class="role"></div>
            <div class="fouls"></div>
            <div class="techs"></div>
            <div class="role-footer">
                <div class="number">10</div>
                <div class="player-name"></div>
            </div>
        </div>
    </footer>
</div>

<div class="numbers-panel">
    <div class="numbers-content" id="numbers-panel-content">
        <div class="numbers-row visible" id="vote-candidates-row">
            <img src="/icon/palec_white.png" alt="👍" style="max-width: 100%;height: auto; max-height: 36px;">
            <span id="vote-candidates"></span>
        </div>
        <div class="numbers-row visible">
            <span>Дон:</span>
            <span id="don-checks"></span>
        </div>
        <div class="numbers-row visible">
            <span>Шериф:</span>
            <span id="sher-checks"></span>
        </div>
    </div>
</div>
<script>

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    let id = "[[${id}]]"
    let tournamentId = "[[${tournamentId}]]"
    let gameNum = "[[${gameNum}]]"
    let tableNum = "[[${tableNum}]]"
    let phase = '[[${phase}]]';
    let service = '[[${service}]]';

    function nextGame(nextGameInfoString) {
        nextGameInfo = JSON.parse(nextGameInfoString);
        let url = `/${service}/tournaments/${nextGameInfo.tournamentId}/phases/${nextGameInfo.phase}/tables/${nextGameInfo.tableNum}/games/${nextGameInfo.gameNum}/overlay`;
        console.log(`Window location to ${url}`);
        window.location.assign(url);
    }

    let socket;


    function createSseConnection() {
        if (socket) {
            socket.close();
            socket = null;
        }
        socket = new EventSource(`/${id}/gameinfo`);
        socket.onopen = () => {
            reconnectFrequencySec = 1;
            reconnectTimeout = null;
            console.log(`Connected to /${id}/gameinfo`);
        };
        socket.onmessage = function (event) {
            console.log(JSON.stringify(event.data));
            if (event.data.toString().startsWith('!')) {
                let split = event.data.toString().split(/ (.*)/s);
                switch (split[0]) {
                    case '!gameinfo': {
                        parseGameInfo(split[1]);
                        break;
                    }
                    case '!nextgame': {
                        nextGame(split[1]);
                    }
                }
            }
        };
        socket.onerror = function (error) {
            socket.close();
            socket = null;
            clearTimeout(reconnectTimeout);
            console.log('Try reconnect after sec ' + reconnectFrequencySec);
            reconnectTimeout = setTimeout(() => {
                createSseConnection();
                reconnectFrequencySec *= 2;
                if (reconnectFrequencySec >= 64) {
                    reconnectFrequencySec = 64;
                }
            }, reconnectFrequencySec * 1000);
        };
    }

    createSseConnection();

    function checkImage(url) {
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        try {
            request.send()
            if (request.status === 200) {
                return true
            } else {
                return false
            }
        } catch (e) {
            return false
        }
    }

    function fNicknameFontSize() {
        /* Увеличиваем размер шрифта, до появления прокрутки */
        // while (this.scrollHeight <= this.clientHeight || this.scrollWidth <= this.clientWidth) {
        //     this.style.fontSize = parseFloat(getComputedStyle(this).fontSize) + 2 + "px";
        // }
        /* Уменьшаем размер шрифта, пока прокрутка не исчезнет */
        while (this.scrollHeight > this.clientHeight || this.scrollWidth > this.clientWidth) {
            this.style.fontSize = parseFloat(getComputedStyle(this).fontSize) - 1 + 'px';
        }
    }

    function createNumberBadge(role, num) {
        const badge = document.createElement('span');
        badge.className = `number-badge ${role}`;
        badge.textContent = num;
        return badge;
    }

    function parseGameInfo(gameInfoString) {
        gameInfo = JSON.parse(gameInfoString)
        players = gameInfo.players
        if (gameInfo.visibleOverlay !== false) {
            document.getElementsByTagName('body')[0].setAttribute('class', 'visible');
        } else {
            document.getElementsByTagName('body')[0].setAttribute('class', '');
        }

        // Добавляем обработку результатов игры
        const resultPanel = document.querySelector('.result-panel');
        const resultContent = document.getElementById('result-content');

        // Проверяем наличие результата игры
        if (gameInfo.result !== undefined) {
            if (gameInfo.result === 'black') {
                // Победа мафии
                resultContent.textContent = 'ПОБЕДА МАФИИ';
                resultPanel.classList.remove('red-win');
                resultPanel.classList.add('black-win', 'visible');
            } else if (gameInfo.result === 'red') {
                // Победа мирного города
                resultContent.textContent = 'ПОБЕДА МИРНОГО ГОРОДА';
                resultPanel.classList.remove('black-win');
                resultPanel.classList.add('red-win', 'visible');
            } else {
                // Если result имеет другое значение, скрываем панель
                resultPanel.classList.remove('visible', 'black-win', 'red-win');
            }
        } else {
            // Если result не определен, скрываем панель
            resultPanel.classList.remove('visible', 'black-win', 'red-win');
        }


        document.getElementById('current-game-text').innerText = gameInfo.text;

        const numberPanelContent = document.getElementById('numbers-panel-content');
        const voteCandidatesRow = document.getElementById('vote-candidates-row');
        if (gameInfo.voteCandidates.length !== 0) {
            if (voteCandidatesRow === null) {
                const img = document.createElement('img');
                img.src = '/icon/palec_white.png';
                img.classList.add('vote-order-img');
                img.alt = '👍';
                const voteCandidatesContainer = document.createElement('span');
                voteCandidatesContainer.id = 'vote-candidates';

                const voteCandidatesRow = document.createElement('div');
                voteCandidatesRow.id = 'vote-candidates-row';
                voteCandidatesRow.classList.add('numbers-row');
                voteCandidatesRow.append(img);
                voteCandidatesRow.append(voteCandidatesContainer);

                numberPanelContent.insertBefore(
                    voteCandidatesRow,
                    numberPanelContent.firstChild
                );
            }
            let voteCandidatesContainer = document.getElementById('vote-candidates');
            voteCandidatesContainer.innerHTML = '';
            gameInfo.voteCandidates.forEach((candidate) => {
                voteCandidatesContainer.append(createNumberBadge(
                    gameInfo.visibleRoles === true ? candidate.role : 'red',
                    candidate.num
                ));
            });
        } else {
            if (voteCandidatesRow !== null) {
                numberPanelContent.removeChild(voteCandidatesRow);
            }
        }


        const donChecksContainer = document.getElementById('don-checks');
        const sherChecksContainer = document.getElementById('sher-checks');

        players.forEach((playerInfo, index) => {
            const playerElement = document.getElementById(`player_${index + 1}`);
            if (!playerElement) {
                return;
            }
            const playerName = playerElement.querySelector('.player-name');
            if (playerName) {
                playerName.textContent = playerInfo.nickname;
                // Добавляем атрибут data-nickname для стилизации
                playerName.setAttribute('data-nickname', playerInfo.nickname);
                fNicknameFontSize.call(playerName);
            }
            playerElement.querySelectorAll('.photo').forEach((el) => {
                    let imageUrl = playerInfo.photoUrl//`/content/photo/${playerInfo.nickname}.png`
                    el.style.backgroundImage = `url("${imageUrl}")`
                }
            );
            //todo set status
            if (playerInfo.status) {
                playerElement.classList.add('dead', playerInfo.status);
            } else {
                playerElement.classList.remove('dead')
                playerElement.classList.remove('killed')
                playerElement.classList.remove('first-killed');
                playerElement.classList.remove('voted')
                playerElement.classList.remove('removed')
            }

            const ROLES = ['don', 'sher', 'black', 'red'];

            //todo set role
            if (playerInfo.role && gameInfo.visibleRoles === true) {
                ROLES.filter(it => it !== playerInfo.role).forEach(it => playerElement.classList.remove(it));
                playerElement.classList.add(playerInfo.role)
            } else {
                ROLES.forEach(it => playerElement.classList.remove(it));
            }

            let foulsElement = playerElement.querySelector('.fouls');
            if (playerInfo.fouls && playerInfo.fouls > 0) {
                foulsElement.innerText = playerInfo.fouls;
                foulsElement.classList.add('visible');
            } else {
                foulsElement.classList.remove('visible');
            }

            let techsElement = playerElement.querySelector('.techs');
            if (playerInfo.techs && playerInfo.techs > 0) {
                techsElement.innerText = 'T';
                techsElement.classList.add('visible');
            } else {
                techsElement.classList.remove('visible');
            }

            if (playerInfo.speaker) {
                playerElement.classList.add('speaker');
            } else {
                playerElement.classList.remove('speaker');
            }

            if (playerInfo.voting) {
                playerElement.classList.add('voting');
            } else {
                playerElement.classList.remove('voting');
            }

            if (playerInfo.clubIcon) {
                playerElement.querySelectorAll('.clubIcon').forEach((el) => {
                        let imageUrl = playerInfo.clubIcon;
                        el.style.backgroundImage = `url("${imageUrl}")`;
                    }
                );
            } else {
                playerElement.querySelectorAll('.clubIcon').forEach((el) => {
                        el.style.backgroundImage = 'none';
                    }
                );
            }

            let isWin = (playerInfo.role === 'black' || playerInfo.role === 'don') && gameInfo.result === 'black'
                || (playerInfo.role === 'red' || playerInfo.role === 'sher') && gameInfo.result === 'red';
            let scoreElement = playerElement.querySelector('.score');
            if (playerInfo.score !== null) {
                scoreElement.innerText = playerInfo.score;
                if (isWin) {
                    scoreElement.classList.add('win');
                } else {
                    scoreElement.classList.add('lose');
                }
                if (playerInfo.score < 0) {
                    scoreElement.classList.add('minus');
                }
            } else {
                scoreElement.innerText = '';
                scoreElement.classList.remove('win');
                scoreElement.classList.remove('lose');
                scoreElement.classList.remove('minus');
            }

            //todo set checks


            // Если у вас есть условие для разделения данных на дон и шериф
            if (playerInfo.role === 'don') {
                donChecksContainer.textContent = '';
                playerInfo.checks.map(check => donChecksContainer.append(createNumberBadge(check.role, check.num)));
            } else if (playerInfo.role === 'sher') {
                sherChecksContainer.textContent = '';
                playerInfo.checks.map(check => sherChecksContainer.append(createNumberBadge(check.role, check.num)));
            }

            // set guess
            if (playerInfo.guess.length !== 0) {
                playerInfo.guess.forEach((check, index) => {
                    checkElement = playerElement.querySelector(`.guess-${index + 1}`);
                    checkElement.classList.add(check.role, 'visible');
                    checkElement.querySelector('.guess-text').innerHTML = check.num;
                });
            } else {
                playerElement.querySelectorAll('.guess').forEach((el) => {
                        el.classList.remove('visible');
                        el.classList.remove('red');
                        el.classList.remove('black');
                        el.classList.remove('vice');
                        el.querySelector('.guess-text').innerHTML = '';
                    }
                );
            }
        })

        if (gameInfo.visibleRoles !== false) {
            document.querySelectorAll('.role').forEach(el => {
                el.classList.add('visible');
            });
            if (donChecksContainer.hasChildNodes() || sherChecksContainer.hasChildNodes()) {
                document.querySelectorAll('.numbers-panel').forEach(el => {
                    el.classList.add('visible');
                });
            }
        } else {
            document.querySelectorAll('.role, .numbers-panel').forEach(el => {
                el.classList.remove('visible');
            });
        }
        if (gameInfo.visibleScores !== false) {
            document.querySelectorAll('.score').forEach(el => {
                el.classList.add('visible');
            });
        } else {
            document.querySelectorAll('.score').forEach(el => {
                el.classList.remove('visible');
            });
        }
    }


    $(document).ready(function () {
        var element = document.getElementsByTagName("body")[0];
    });

    /*
        pl.onmessage = (event) => {
            player_list = event.data.split('|');
            document.getElementById(player_list[0]).querySelectorAll('.nick')[0].innerHTML = player_list[1];
            document.getElementById(player_list[0]).querySelectorAll('.photo, .flip-photo').forEach((el) => {
                    el.style.backgroundImage = 'url("content/photo/' + player_list[1] + '.png")'
                }
            );
        }
        cl.onmessage = (event) => {
            class_list = event.data.split('|');
            document.getElementById(class_list[0]).setAttribute('class', class_list[1]);
        }

        ps.onmessage = (event) => {
            panel_status = event.data.split('|');
        }
    */
</script>
</body>

</html>
