<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starter</title>
</head>
<body>

        Игрок 1: <input id="player1" name="Игрок 1"> <button onclick="">Найти</button><br>


        Игрок 2: <input id="player2" name="Игрок 2"><button onclick="">Найти</button><br>
        Игрок 3: <input id="player3" name="Игрок 3"><button onclick="">Найти</button><br>
        Игрок 4: <input id="player4" name="Игрок 4"><button onclick="">Найти</button><br>
        Игрок 5: <input id="player5" name="Игрок 5"><button onclick="">Найти</button><br>
        Игрок 6: <input id="player6" name="Игрок 6"><button onclick="">Найти</button><br>
        Игрок 7: <input id="player7" name="Игрок 7"><button onclick="">Найти</button><br>
        Игрок 8: <input id="player8" name="Игрок 8"><button onclick="">Найти</button><br>
        Игрок 9: <input id="player9" name="Игрок 9"><button onclick="">Найти</button><br>
        Игрок 10: <input id="player10" name="Игрок 10"><button onclick="">Найти</button><br>


<script>
        function findPlayer(nickname) {

        }
</script>
</body>
</html>