<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Панель </title>
    <link rel="stylesheet" href="css\style-table-panel.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
<div style="display: flex; width: 90%; margin: 10px auto;">
    Номер игры
    <div style="width: 10%;"></div>
    <form method="post">
        <input type="number" value="1" min="1" id="game_number">
    </form>
</div>

<table>
    <tr>
        <td>
            1
        </td>
        <td class="nick">
            Альпач
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td class="nick">
            Грешник
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td class="nick">
            Фокс
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td class="nick">
            Харви
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td class="nick">
            Шейх
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td class="nick">
            Шелдон
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td class="nick">
            Franchesco
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            8
        </td>
        <td class="nick">
            Red_Sun
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            9
        </td>
        <td class="nick">
            Sin3d
        </td>
        <td class="point">
            <input type="number" value=0>
        </td>
    </tr>
    <tr>
        <td>
            10
        </td>
        <td class="nick">
            Sub_Zero
        </td>
        <td class="point">
            <form method="post">
                <input type="number" value=0>
            </form>
        </td>
    </tr>
</table>
<div style="width: 90%; margin: 0 auto;" onclick="sendData()">
    <button>Отправить данные</button>
</div>

<script>
    const results = new BroadcastChannel('table-results');
    const additionalData = new BroadcastChannel('additional-data');
    const socket = new WebSocket('ws://localhost:8080/gameinfo');
    socket.addEventListener('open', function (event) {
        socket.send('register table-control');
        console.log("Connected to gameinfo WS")
    });

    socket.addEventListener("message", function (event) {
        if (event.data.toString().startsWith("!table")) {
            let tableRows = event.data.split(/\s*\|\s*/).slice(1);
            i = 0;
            document.querySelectorAll('tr').forEach((element, index, array) => {
                element.querySelectorAll('.nick')[0].innerHTML = tableRows[i++]
                element.querySelectorAll('.point input')[0].value = tableRows[i++]
            });
            sendData()
        }
    })

    $(document).ready(function () {

    });

    function sendData() {
        var player_list = [];
        document.querySelectorAll('tr').forEach((item, index, array) => {
            var player = {}
            player['nick'] = item.querySelectorAll('.nick')[0].innerHTML.trim();
            player['sum'] = parseFloat(item.querySelectorAll('.point input')[0].value.trim());
            player_list.push(player);
        });
        player_list.sort((a, b) => a.sum <= b.sum ? 1 : -1);
        results.postMessage(JSON.stringify(player_list));
        additionalData.postMessage('Игра ' + document.getElementById('game_number').value + '|Финал');
    }
</script>
</body>

</html>